server:
  port: 8080

spring:
  application:
    name: gateway-server
  main:
    banner-mode: off
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      # Deprecated: spring.cloud.gateway.discovery.locator.lower-case-service-id=true
      # Replacement:
      # spring.cloud.gateway.server.webflux.discovery.locator.lower-case-service-id=true
      # But for custom routes, we don't strictly need this if we use lb://user-service and it resolves.
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/products/**
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/orders/**

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always
