spring:
  application:
    name: gateway-server
  cloud:
    config:
      enabled: false  # Disable config server for local dev
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**
        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/products/**
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/orders/**

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: false
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,logfile

logging:
  file:
    name: logs/gateway-server.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 5
  level:
    org.springframework.cloud.gateway: DEBUG
