spring:
  application:
    name: admin-server
  main:
    banner-mode: off
  cloud:
    config:
      enabled: false  # Disable config server for local dev

server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: false
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  file:
    name: logs/admin-server.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 5
  level:
    de.codecentric.boot.admin: DEBUG
    de.codecentric.boot.admin.server.services.StatusUpdater: INFO
