server:
  port: 8081

spring:
  application:
    name: user-service
  main:
    banner-mode: off
  datasource:
    url: jdbc:h2:mem:userdb
    username: sa
    password:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
  h2:
    console:
      enabled: true
  cloud:
    kubernetes:
      discovery:
        enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

---
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:h2:mem:userdb
    username: sa
    password:
  h2:
    console:
      enabled: true
logging:
  level:
    root: WARN
    com.example: INFO
management:
  endpoints:
    web:
      exposure:
        include: "*"
