spring:
  application:
    name: config-server
  main:
    banner-mode: off
  cloud:
    config:
      server:
        git:
          uri: file://${user.home}/config-repo
          default-label: main

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: health,info
