name: Native Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io

jobs:
  build-native:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        service: [eureka-server, gateway-server, user-service, product-service, order-service]
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Native Image
      run: |
        mvn clean spring-boot:build-image -Pnative -DskipTests -pl ${{ matrix.service }} \
          -Dspring-boot.build-image.imageName=${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.service }}:latest \
          -Dspring-boot.build-image.env.SPRING_PROFILES_ACTIVE=prod
        
    - name: Push Docker image
      run: |
        docker push ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.service }}:latest

  cleanup-old-versions:
    needs: build-native
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        service: [eureka-server, gateway-server, user-service, product-service, order-service]
    steps:
      - name: Delete old package versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: ${{ github.event.repository.name }}/${{ matrix.service }}
          package-type: container
          min-versions-to-keep: 1
